Coworking is a work style where different individuals or teams share a working environment.
 If you are a self-employed or a working-from-home professional, you would love to have the option to rent a meeting room,
 or a desk in an office equipped with high-speed internet, printers, copiers, stationaries, and office kitchen. 
As there is an increase in the number of coworkers and the number of sharable workspaces, we are looking to develop 
an application to connect both parties. 
The objective is very similar to how Uber connects riders with drivers and Airbnb connects tenants with landlords. 